.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.left-nav > ul,
.right-nav > ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-nav > ul > li {
  margin: 5px;
}

.right-nav > ul > li {
  margin: 3px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {

}

#gear {
  font-size: 20px;
}
